.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2.5px dashed rgb(2, 68, 112);
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}