.section__container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.section__content {
    padding: 50px 0 80px;
}
.section__title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: var(--different-blue);

    margin-bottom: 25px;
}
.wishlist {
    display: flex;
    flex-direction: column;
}
.wishlist__item {
    display: flex;
    border: 2px solid var(--different-blue);
    padding: 3px;
}
.wishlist__item img {
    width: 400px;
    height: auto;
    object-fit: contain;
}
.wishlist__details {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.wishlist__title {
    font-size: 25px;
    font-weight: 500;
}
.wishlist__description {
    font-size: 19px;
}
.wishlist__delete img {
    width: 120px;
    height: 120px;
}